.container{
    display: flex;
    justify-content:space-between;
}
.div1{
    background-color: aqua;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight:bold;
    border: black solid 10px;
}


*{
    padding: 0px;
    margin: 0px;
}
